In [1]:
import selenium
from selenium import webdriver
import time
import pandas as pd
import numpy as np
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver = webdriver.Chrome(r'C:\Users\LENOVO\Documents\Post Graduation\chromedriver.exe')

In [3]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

def get_yatra(dep_from, arr_to, dep_day, dep_mon, dep_year, fl_cl):
    urls = ('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class='+fl_cl+
    '&destination='+arr_to+'&destinationCountry=IN&flexi=0&flight_depart_date='+dep_day+'%2F'+dep_mon+'%2F'+dep_year+'&hb=0&noOfSegments=1&origin='
    +dep_from+'&originCountry=IN&type=O&unique=207953473702&viewName=normal')
    
    driver.get(urls)

    time.sleep(35)
    
    for i in range(45): 
       driver.execute_script("window.scrollBy(0, 10000)")
       time.sleep(1)
    
    try:
        air = driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
        for i in air:
            airlines.append(i.text)
    except NoSuchElementException:
        airlines.append('-')
    
    try:
        dep = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
        for d in dep:
            departure.append(d.text)
    except NoSuchElementException:
        departure.append('-')
        
    try:
        dur = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]//p')
        for u in dur:
            duration.append(u.text)
    except NoSuchElementException:
        duration.append('-')
        
    try:
        stop = driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]//span')
        for s in stop:
            stops.append(s.text)
    except NoSuchElementException:
        stops.append('-')
        
        
    try:
        tcity = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]//p[2]')
        for t in tcity:
            to_city.append(t.text)
    except NoSuchElementException:
        to_city.append('-')
        
    
    try:
        pri = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
        for p in pri:
            price.append(p.text.replace(',',''))
    except NoSuchElementException:
        price.append('-')

In [4]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BLR','DEL','15','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','BOM','15','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','MAA','15','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','CCU','15','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','HYD','15','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','AMD','15','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','GOI','15','11','2021','Economy')



x1 = pd.DataFrame({})
x1['airlines'] = airlines
x1['departure'] = departure
x1['duration'] = duration
x1['stops'] = stops
x1['from_city'] = 'Bangalore'
x1['to_city'] = to_city
x1['price'] = price
x1['journey_date'] = '2021-11-15'
x1['fclass'] = 'Economy'
x1

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India,10:25,2h 35m,Non Stop,Bangalore,New Delhi,6186,2021-11-15,Economy
1,Air India,17:50,2h 45m,Non Stop,Bangalore,New Delhi,6186,2021-11-15,Economy
2,Air India,21:00,2h 55m,Non Stop,Bangalore,New Delhi,6186,2021-11-15,Economy
3,Go First,07:40,2h 50m,Non Stop,Bangalore,New Delhi,7225,2021-11-15,Economy
4,Go First,21:00,2h 50m,Non Stop,Bangalore,New Delhi,7225,2021-11-15,Economy
...,...,...,...,...,...,...,...,...,...
479,Air Asia,05:25,1h 35m,Non Stop,Bangalore,Goa,4339,2021-11-15,Economy
480,Air Asia,16:25,3h 10m,1 Stop,Bangalore,Goa,4339,2021-11-15,Economy
481,Vistara,12:20,1h 30m,Non Stop,Bangalore,Goa,4392,2021-11-15,Economy
482,IndiGo,06:15,1h 20m,Non Stop,Bangalore,Goa,4653,2021-11-15,Economy
483,Go First,07:30,13h 30m,1 Stop,Bangalore,Goa,4844,2021-11-15,Economy

In [5]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BLR','DEL','31','10','2021','Economy')
time.sleep(4)
get_yatra('BLR','BOM','31','10','2021','Economy')
time.sleep(4)
get_yatra('BLR','MAA','31','10','2021','Economy')
time.sleep(4)
get_yatra('BLR','CCU','31','10','2021','Economy')
time.sleep(4)
get_yatra('BLR','HYD','31','10','2021','Economy')
time.sleep(4)
get_yatra('BLR','AMD','31','10','2021','Economy')
time.sleep(4)
get_yatra('BLR','GOI','31','10','2021','Economy')



x2 = pd.DataFrame({})
x2['airlines'] = airlines
x2['departure'] = departure
x2['duration'] = duration
x2['stops'] = stops
x2['from_city'] = 'Bangalore'
x2['to_city'] = to_city
x2['price'] = price
x2['journey_date'] = '2021-10-31'
x2['fclass'] = 'Economy'
x2

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Go First,21:00,16h 30m,1 Stop,Bangalore,Goa,4337,2021-10-31,Economy
1,IndiGo,19:50,1h 25m,Non Stop,Bangalore,Goa,7173,2021-10-31,Economy
2,IndiGo,17:10,1h 15m,Non Stop,Bangalore,Goa,8643,2021-10-31,Economy
3,Vistara,21:40,15h 05m,1 Stop,Bangalore,Goa,9497,2021-10-31,Economy
4,Vistara,21:40,17h 15m,1 Stop,Bangalore,Goa,9497,2021-10-31,Economy
5,Go First,22:00,8h 50m,1 Stop,Bangalore,Goa,10081,2021-10-31,Economy
6,Go First,22:00,14h 45m,1 Stop,Bangalore,Goa,10081,2021-10-31,Economy
7,Air India,19:50,14h 25m,2 Stop(s),Bangalore,Goa,10324,2021-10-31,Economy
8,Vistara,19:55,19h 00m,1 Stop,Bangalore,Goa,11007,2021-10-31,Economy
9,Vistara,18:25,20h 30m,1 Stop,Bangalore,Goa,11007,2021-10-31,Economy
10,Vistara,19:55,16h 50m,1 Stop,Bangalore,Goa,11059,2021-10-31,Economy
11,Vistara,18:25,18h 20m,1 Stop,Bangalore,Goa,11059,2021-10-31,Economy
12,Vistara,18:55,20h 00m,1 Stop,Bangalore,Goa,11532,2021-10-31,Economy
13,Vistara,18:55,17h 50m,1 Stop,Bangalore,Goa,11584,2021-10-31,Economy
14,Air India,19:10,19h 35m,1 Stop,Bangalore,Goa,12214,2021-10-31,Economy
15,Go First,20:00,10h 50m,1 Stop,Bangalore,Goa,12915,2021-10-31,Economy
16,Air India,19:10,25h 20m,1 Stop,Bangalore,Goa,13212,2021-10-31,Economy
17,Vistara,19:40,18h 10m,1 Stop,Bangalore,Goa,18094,2021-10-31,Economy
18,Vistara,19:40,25h 40m,1 Stop,Bangalore,Goa,18094,2021-10-31,Economy
19,Vistara,18:45,19h 05m,1 Stop,Bangalore,Goa,19144,2021-10-31,Economy
20,Vistara,17:45,20h 05m,1 Stop,Bangalore,Goa,19144,2021-10-31,Economy
21,Vistara,18:45,26h 35m,1 Stop,Bangalore,Goa,19144,2021-10-31,Economy
22,Vistara,17:45,27h 35m,1 Stop,Bangalore,Goa,19144,2021-10-31,Economy
23,Vistara,21:10,16h 40m,1 Stop,Bangalore,Goa,20404,2021-10-31,Economy
24,Vistara,21:10,24h 10m,1 Stop,Bangalore,Goa,20404,2021-10-31,Economy
25,Vistara,19:40,17h 05m,2 Stop(s),Bangalore,Goa,20562,2021-10-31,Economy
26,Vistara,21:10,15h 35m,2 Stop(s),Bangalore,Goa,22872,2021-10-31,Economy
27,Vistara,21:10,15h 35m,2 Stop(s),Bangalore,Goa,22872,2021-10-31,Economy
28,Air India,17:50,19h 25m,1 Stop,Bangalore,Goa,25129,2021-10-31,Economy
29,Air India,17:50,20h 55m,2 Stop(s),Bangalore,Goa,28174,2021-10-31,Economy
30,Air India,19:10,18h 05m,2 Stop(s),Bangalore,Goa,30064,2021-10-31,Economy

In [6]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BLR','DEL','2','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','BOM','2','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','MAA','2','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','CCU','2','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','HYD','2','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','AMD','2','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','GOI','2','11','2021','Economy')



x3 = pd.DataFrame({})
x3['airlines'] = airlines
x3['departure'] = departure
x3['duration'] = duration
x3['stops'] = stops
x3['from_city'] = 'Bangalore'
x3['to_city'] = to_city
x3['price'] = price
x3['journey_date'] = '2021-11-2'
x3['fclass'] = 'Economy'
x3

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,05:25,5h 30m,1 Stop,Bangalore,New Delhi,7486,2021-11-2,Economy
1,Air Asia,05:40,6h 20m,1 Stop,Bangalore,New Delhi,7486,2021-11-2,Economy
2,Air Asia,09:05,7h 10m,1 Stop,Bangalore,New Delhi,7486,2021-11-2,Economy
3,Air Asia,13:00,7h 10m,1 Stop,Bangalore,New Delhi,7486,2021-11-2,Economy
4,Air Asia,11:45,7h 35m,1 Stop,Bangalore,New Delhi,7486,2021-11-2,Economy
...,...,...,...,...,...,...,...,...,...
475,IndiGo,12:45,1h 20m,Non Stop,Bangalore,Goa,4338,2021-11-2,Economy
476,IndiGo,14:10,1h 25m,Non Stop,Bangalore,Goa,4338,2021-11-2,Economy
477,IndiGo,19:50,1h 25m,Non Stop,Bangalore,Goa,4338,2021-11-2,Economy
478,Vistara,12:20,1h 30m,Non Stop,Bangalore,Goa,4339,2021-11-2,Economy
479,Air Asia,05:25,1h 35m,Non Stop,Bangalore,Goa,4339,2021-11-2,Economy

In [7]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BLR','DEL','4','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','BOM','4','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','MAA','4','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','CCU','4','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','HYD','4','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','AMD','4','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','GOI','4','11','2021','Economy')



x4 = pd.DataFrame({})
x4['airlines'] = airlines
x4['departure'] = departure
x4['duration'] = duration
x4['stops'] = stops
x4['from_city'] = 'Bangalore'
x4['to_city'] = to_city
x4['price'] = price
x4['journey_date'] = '2021-11-4'
x4['fclass'] = 'Economy'
x4

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,09:05,7h 10m,1 Stop,Bangalore,New Delhi,7486,2021-11-4,Economy
1,Air Asia,13:00,7h 50m,1 Stop,Bangalore,New Delhi,7486,2021-11-4,Economy
2,Air Asia,07:15,8h 15m,1 Stop,Bangalore,New Delhi,7486,2021-11-4,Economy
3,Air Asia,05:10,9h 45m,1 Stop,Bangalore,New Delhi,7486,2021-11-4,Economy
4,Air Asia,05:30,10h 00m,2 Stop(s),Bangalore,New Delhi,7486,2021-11-4,Economy
...,...,...,...,...,...,...,...,...,...
73,Go First,22:00,14h 45m,1 Stop,Bangalore,Goa,24974,2021-11-4,Economy
74,Air India,21:00,16h 15m,1 Stop,Bangalore,Goa,25129,2021-11-4,Economy
75,Air India,17:50,19h 25m,1 Stop,Bangalore,Goa,25129,2021-11-4,Economy
76,Air India,13:20,23h 55m,1 Stop,Bangalore,Goa,25129,2021-11-4,Economy
77,Air India,10:25,26h 50m,1 Stop,Bangalore,Goa,25129,2021-11-4,Economy

In [8]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BLR','DEL','6','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','BOM','6','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','MAA','6','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','CCU','6','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','HYD','6','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','AMD','6','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','GOI','6','11','2021','Economy')



x5 = pd.DataFrame({})
x5['airlines'] = airlines
x5['departure'] = departure
x5['duration'] = duration
x5['stops'] = stops
x5['from_city'] = 'Bangalore'
x5['to_city'] = to_city
x5['price'] = price
x5['journey_date'] = '2021-11-6'
x5['fclass'] = 'Economy'
x5

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,21:15,5h 45m,1 Stop,Bangalore,New Delhi,7486,2021-11-6,Economy
1,Air Asia,18:50,6h 10m,1 Stop,Bangalore,New Delhi,7486,2021-11-6,Economy
2,Air Asia,05:40,6h 20m,1 Stop,Bangalore,New Delhi,7486,2021-11-6,Economy
3,Air Asia,17:30,7h 05m,1 Stop,Bangalore,New Delhi,7486,2021-11-6,Economy
4,Air Asia,09:05,7h 10m,1 Stop,Bangalore,New Delhi,7486,2021-11-6,Economy
...,...,...,...,...,...,...,...,...,...
603,Air India,05:45,14h 55m,2 Stop(s),Bangalore,Ahmedabad,27124,2021-11-6,Economy
604,Air India,06:45,11h 25m,2 Stop(s),Bangalore,Ahmedabad,28489,2021-11-6,Economy
605,Air India,05:45,12h 25m,2 Stop(s),Bangalore,Ahmedabad,29434,2021-11-6,Economy
606,Air India,06:45,13h 55m,2 Stop(s),Bangalore,Ahmedabad,32794,2021-11-6,Economy
607,Air India,05:45,14h 55m,2 Stop(s),Bangalore,Ahmedabad,33739,2021-11-6,Economy

In [9]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BLR','DEL','8','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','BOM','8','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','MAA','8','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','CCU','8','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','HYD','8','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','AMD','8','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','GOI','8','11','2021','Economy')



x6 = pd.DataFrame({})
x6['airlines'] = airlines
x6['departure'] = departure
x6['duration'] = duration
x6['stops'] = stops
x6['from_city'] = 'Bangalore'
x6['to_city'] = to_city
x6['price'] = price
x6['journey_date'] = '2021-11-8'
x6['fclass'] = 'Economy'
x6

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,05:25,5h 30m,1 Stop,Bangalore,New Delhi,7486,2021-11-8,Economy
1,Air Asia,21:15,5h 45m,1 Stop,Bangalore,New Delhi,7486,2021-11-8,Economy
2,Air Asia,18:50,6h 10m,1 Stop,Bangalore,New Delhi,7486,2021-11-8,Economy
3,Air Asia,20:45,6h 15m,1 Stop,Bangalore,New Delhi,7486,2021-11-8,Economy
4,Air Asia,05:40,6h 20m,1 Stop,Bangalore,New Delhi,7486,2021-11-8,Economy
...,...,...,...,...,...,...,...,...,...
280,IndiGo,06:15,1h 20m,Non Stop,Bangalore,Goa,4653,2021-11-8,Economy
281,IndiGo,12:45,1h 20m,Non Stop,Bangalore,Goa,4653,2021-11-8,Economy
282,IndiGo,09:05,1h 20m,Non Stop,Bangalore,Goa,4968,2021-11-8,Economy
283,Air India,09:00,25h 15m,1 Stop,Bangalore,Goa,5052,2021-11-8,Economy
284,Go First,22:00,14h 45m,1 Stop,Bangalore,Goa,8925,2021-11-8,Economy

In [11]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BLR','DEL','10','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','BOM','10','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','MAA','10','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','CCU','10','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','HYD','10','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','AMD','10','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','GOI','10','11','2021','Economy')



x7 = pd.DataFrame({})
x7['airlines'] = airlines
x7['departure'] = departure
x7['duration'] = duration
x7['stops'] = stops
x7['from_city'] = 'Bangalore'
x7['to_city'] = to_city
x7['price'] = price
x7['journey_date'] = '2021-11-10'
x7['fclass'] = 'Economy'
x7

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,20:45,5h 00m,1 Stop,Bangalore,New Delhi,7486,2021-11-10,Economy
1,Air Asia,05:25,5h 30m,1 Stop,Bangalore,New Delhi,7486,2021-11-10,Economy
2,Air Asia,18:50,6h 10m,1 Stop,Bangalore,New Delhi,7486,2021-11-10,Economy
3,Air Asia,05:40,6h 20m,1 Stop,Bangalore,New Delhi,7486,2021-11-10,Economy
4,Air Asia,07:05,6h 55m,1 Stop,Bangalore,New Delhi,7486,2021-11-10,Economy
...,...,...,...,...,...,...,...,...,...
651,Vistara,11:30,8h 10m,2 Stop(s),Bangalore,Ahmedabad,22137,2021-11-10,Economy
652,Air India,11:50,21h 20m,2 Stop(s),Bangalore,Ahmedabad,23974,2021-11-10,Economy
653,Air India,06:45,11h 25m,2 Stop(s),Bangalore,Ahmedabad,24604,2021-11-10,Economy
654,Vistara,12:20,7h 20m,2 Stop(s),Bangalore,Ahmedabad,26074,2021-11-10,Economy
655,Air India,11:50,21h 20m,3 Stop(s),Bangalore,Ahmedabad,26809,2021-11-10,Economy

In [12]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BLR','DEL','12','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','BOM','12','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','MAA','12','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','CCU','12','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','HYD','12','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','AMD','12','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','GOI','12','11','2021','Economy')



x8 = pd.DataFrame({})
x8['airlines'] = airlines
x8['departure'] = departure
x8['duration'] = duration
x8['stops'] = stops
x8['from_city'] = 'Bangalore'
x8['to_city'] = to_city
x8['price'] = price
x8['journey_date'] = '2021-11-12'
x8['fclass'] = 'Economy'
x8

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,20:45,5h 00m,1 Stop,Bangalore,New Delhi,7486,2021-11-12,Economy
1,Air Asia,05:25,5h 30m,1 Stop,Bangalore,New Delhi,7486,2021-11-12,Economy
2,Air Asia,18:50,6h 10m,1 Stop,Bangalore,New Delhi,7486,2021-11-12,Economy
3,Air Asia,05:40,6h 20m,1 Stop,Bangalore,New Delhi,7486,2021-11-12,Economy
4,Air Asia,07:05,6h 55m,1 Stop,Bangalore,New Delhi,7486,2021-11-12,Economy
...,...,...,...,...,...,...,...,...,...
190,IndiGo,07:05,4h 00m,1 Stop,Bangalore,Hyderabad,4338,2021-11-12,Economy
191,IndiGo,14:50,4h 40m,1 Stop,Bangalore,Hyderabad,4338,2021-11-12,Economy
192,IndiGo,15:45,5h 10m,1 Stop,Bangalore,Hyderabad,4338,2021-11-12,Economy
193,IndiGo,14:50,6h 05m,1 Stop,Bangalore,Hyderabad,4338,2021-11-12,Economy
194,IndiGo,10:55,6h 10m,1 Stop,Bangalore,Hyderabad,4338,2021-11-12,Economy

In [13]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BLR','DEL','14','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','BOM','14','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','MAA','14','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','CCU','14','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','HYD','14','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','AMD','14','11','2021','Economy')
time.sleep(4)
get_yatra('BLR','GOI','14','11','2021','Economy')



x9 = pd.DataFrame({})
x9['airlines'] = airlines
x9['departure'] = departure
x9['duration'] = duration
x9['stops'] = stops
x9['from_city'] = 'Bangalore'
x9['to_city'] = to_city
x9['price'] = price
x9['journey_date'] = '2021-11-14'
x9['fclass'] = 'Economy'
x9

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,20:45,5h 00m,1 Stop,Bangalore,New Delhi,7486,2021-11-14,Economy
1,Air Asia,05:25,5h 30m,1 Stop,Bangalore,New Delhi,7486,2021-11-14,Economy
2,Air Asia,18:50,6h 10m,1 Stop,Bangalore,New Delhi,7486,2021-11-14,Economy
3,Air Asia,05:40,6h 20m,1 Stop,Bangalore,New Delhi,7486,2021-11-14,Economy
4,Air Asia,07:05,6h 55m,1 Stop,Bangalore,New Delhi,7486,2021-11-14,Economy
...,...,...,...,...,...,...,...,...,...
665,Vistara,21:10,15h 35m,2 Stop(s),Bangalore,Goa,18873,2021-11-14,Economy
666,Air India,13:50,23h 25m,2 Stop(s),Bangalore,Goa,20103,2021-11-14,Economy
667,Vistara,13:50,31h 30m,2 Stop(s),Bangalore,Goa,21162,2021-11-14,Economy
668,Vistara,13:50,31h 30m,2 Stop(s),Bangalore,Goa,21876,2021-11-14,Economy
669,Vistara,11:30,9h 50m,2 Stop(s),Bangalore,Goa,25917,2021-11-14,Economy

In [15]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BLR','DEL','31','10','2021','Special')
time.sleep(4)
get_yatra('BLR','BOM','31','10','2021','Special')
time.sleep(4)
get_yatra('BLR','MAA','31','10','2021','Special')
time.sleep(4)
get_yatra('BLR','CCU','31','10','2021','Special')
time.sleep(4)
get_yatra('BLR','HYD','31','10','2021','Special')
time.sleep(4)
get_yatra('BLR','AMD','31','10','2021','Special')
time.sleep(4)
get_yatra('BLR','GOI','31','10','2021','Special')



y1 = pd.DataFrame({})
y1['airlines'] = airlines
y1['departure'] = departure
y1['duration'] = duration
y1['stops'] = stops
y1['from_city'] = 'Bangalore'
y1['to_city'] = to_city
y1['price'] = price
y1['journey_date'] = '2021-10-31'
y1['fclass'] = 'Special'
y1

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,19:55,5h 00m,1 Stop,Bangalore,New Delhi,12522,2021-10-31,Special
1,Vistara Premium Economy,19:55,12h 10m,1 Stop,Bangalore,New Delhi,12522,2021-10-31,Special
2,Vistara Premium Economy,19:55,12h 40m,1 Stop,Bangalore,New Delhi,12522,2021-10-31,Special
3,Vistara Premium Economy,19:55,27h 05m,1 Stop,Bangalore,New Delhi,12522,2021-10-31,Special
4,Vistara Premium Economy,19:55,21h 00m,1 Stop,Bangalore,New Delhi,12858,2021-10-31,Special
5,Vistara Premium Economy,21:40,10h 25m,1 Stop,Bangalore,New Delhi,15966,2021-10-31,Special
6,Vistara Premium Economy,21:40,10h 55m,1 Stop,Bangalore,New Delhi,15966,2021-10-31,Special
7,Vistara Premium Economy,21:40,25h 20m,1 Stop,Bangalore,New Delhi,15966,2021-10-31,Special
8,Vistara Premium Economy,21:40,26h 30m,1 Stop,Bangalore,New Delhi,15966,2021-10-31,Special
9,Vistara Premium Economy,21:40,27h 15m,1 Stop,Bangalore,New Delhi,15966,2021-10-31,Special
10,Vistara Premium Economy,21:40,19h 15m,1 Stop,Bangalore,New Delhi,16302,2021-10-31,Special
11,Vistara Premium Economy,21:10,2h 35m,Non Stop,Bangalore,New Delhi,16918,2021-10-31,Special
12,Vistara Premium Economy,19:55,16h 45m,1 Stop,Bangalore,New Delhi,17898,2021-10-31,Special
13,Vistara Premium Economy,19:55,22h 10m,1 Stop,Bangalore,New Delhi,17898,2021-10-31,Special
14,Vistara Premium Economy,19:55,23h 45m,1 Stop,Bangalore,New Delhi,17898,2021-10-31,Special
15,Vistara Premium Economy,19:55,13h 45m,1 Stop,Bangalore,New Delhi,21314,2021-10-31,Special
16,Vistara Premium Economy,19:55,18h 10m,1 Stop,Bangalore,New Delhi,21314,2021-10-31,Special
17,Vistara Premium Economy,19:55,26h 00m,1 Stop,Bangalore,New Delhi,21314,2021-10-31,Special
18,Vistara Premium Economy,21:40,15h 00m,1 Stop,Bangalore,New Delhi,21342,2021-10-31,Special
19,Vistara Premium Economy,21:40,20h 25m,1 Stop,Bangalore,New Delhi,21342,2021-10-31,Special
20,Vistara Premium Economy,21:40,22h 00m,1 Stop,Bangalore,New Delhi,21342,2021-10-31,Special
21,Vistara Premium Economy,21:40,12h 00m,1 Stop,Bangalore,New Delhi,24758,2021-10-31,Special
22,Vistara Premium Economy,21:40,16h 25m,1 Stop,Bangalore,New Delhi,24758,2021-10-31,Special
23,Vistara Premium Economy,19:55,15h 05m,1 Stop,Bangalore,New Delhi,27362,2021-10-31,Special
24,Vistara Premium Economy,21:40,13h 20m,1 Stop,Bangalore,New Delhi,30806,2021-10-31,Special
25,Vistara Premium Economy,19:55,26h 50m,2 Stop(s),Bangalore,Chennai,20103,2021-10-31,Special
26,Vistara Premium Economy,19:55,26h 50m,2 Stop(s),Bangalore,Chennai,20103,2021-10-31,Special
27,Vistara Premium Economy,21:40,25h 05m,2 Stop(s),Bangalore,Chennai,23547,2021-10-31,Special
28,Vistara Premium Economy,21:40,25h 05m,2 Stop(s),Bangalore,Chennai,23547,2021-10-31,Special
29,Vistara Premium Economy,21:10,19h 10m,1 Stop,Bangalore,Chennai,25094,2021-10-31,Special
30,Vistara Premium Economy,21:10,23h 05m,1 Stop,Bangalore,Chennai,25094,2021-10-31,Special
31,Vistara Premium Economy,21:10,25h 35m,1 Stop,Bangalore,Chennai,25094,2021-10-31,Special
32,Vistara Premium Economy,21:10,12h 50m,1 Stop,Bangalore,Chennai,25598,2021-10-31,Special
33,Vistara Premium Economy,21:10,11h 10m,1 Stop,Bangalore,Kolkata,24310,2021-10-31,Special
34,Vistara Premium Economy,21:10,12h 15m,1 Stop,Bangalore,Kolkata,27166,2021-10-31,Special
35,Vistara Premium Economy,21:10,22h 25m,1 Stop,Bangalore,Kolkata,29462,2021-10-31,Special
36,Vistara Premium Economy,19:55,11h 55m,1 Stop,Bangalore,Hyderabad,13698,2021-10-31,Special
37,Vistara Premium Economy,21:40,10h 10m,1 Stop,Bangalore,Hyderabad,17142,2021-10-31,Special
38,Vistara Premium Economy,19:55,13h 30m,2 Stop(s),Bangalore,Hyderabad,18485,2021-10-31,Special
39,Vistara Premium Economy,19:55,21h 05m,2 Stop(s),Bangalore,Hyderabad,18485,2021-10-31,Special
40,Vistara Premium Economy,19:55,21h 05m,2 Stop(s),Bangalore,Hyderabad,18485,2021-10-31,Special
41,Vistara Premium Economy,19:55,23h 55m,2 Stop(s),Bangalore,Hyderabad,18485,2021-10-31,Special
42,Vistara Premium Economy,19:55,23h 55m,2 Stop(s),Bangalore,Hyderabad,18485,2021-10-31,Special
43,Vistara Premium Economy,19:55,27h 00m,2 Stop(s),Bangalore,Hyderabad,18485,2021-10-31,Special
44,Vistara Premium Economy,19:55,27h 00m,2 Stop(s),Bangalore,Hyderabad,18485,2021-10-31,Special
45,Vistara Premium Economy,21:40,19h 20m,2 Stop(s),Bangalore,Hyderabad,21929,2021-10-31,Special
46,Vistara Premium Economy,21:40,19h 20m,2 Stop(s),Bangalore,Hyderabad,21929,2021-10-31,Special
47,Vistara Premium Economy,21:40,22h 10m,2 Stop(s),Bangalore,Hyderabad,21929,2021-10-31,Special
48,Vistara Premium Economy,21:40,22h 10m,2 Stop(s),Bangalore,Hyderabad,21929,2021-10-31,Special
49,Vistara Premium Economy,21:10,12h 15m,1 Stop,Bangalore,Hyderabad,23470,2021-10-31,Special
50,Vistara Premium Economy,21:10,19h 50m,1 Stop,Bangalore,Hyderabad,23470,2021-10-31,Special
51,Vistara Premium Economy,21:10,22h 40m,1 Stop,Bangalore,Hyderabad,23470,2021-10-31,Special
52,Vistara Premium Economy,21:10,25h 45m,1 Stop,Bangalore,Hyderabad,23470,2021-10-31,Special
53,Vistara Premium Economy,19:55,16h 50m,1 Stop,Bangalore,Goa,13698,2021-10-31,Special
54,Vistara Premium Economy,21:40,15h 05m,1 Stop,Bangalore,Goa,17142,2021-10-31,Special
55,Vistara Premium Economy,21:10,16h 40m,1 Stop,Bangalore,Goa,26158,2021-10-31,Special

In [16]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BLR','DEL','1','11','2021','Special')
time.sleep(4)
get_yatra('BLR','BOM','1','11','2021','Special')
time.sleep(4)
get_yatra('BLR','MAA','1','11','2021','Special')
time.sleep(4)
get_yatra('BLR','CCU','1','11','2021','Special')
time.sleep(4)
get_yatra('BLR','HYD','1','11','2021','Special')
time.sleep(4)
get_yatra('BLR','AMD','1','11','2021','Special')
time.sleep(4)
get_yatra('BLR','GOI','1','11','2021','Special')



y2 = pd.DataFrame({})
y2['airlines'] = airlines
y2['departure'] = departure
y2['duration'] = duration
y2['stops'] = stops
y2['from_city'] = 'Bangalore'
y2['to_city'] = to_city
y2['price'] = price
y2['journey_date'] = '2021-11-1'
y2['fclass'] = 'Special'
y2

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,21:10,2h 35m,Non Stop,Bangalore,New Delhi,8686,2021-11-1,Special
1,Vistara Premium Economy,19:40,2h 45m,Non Stop,Bangalore,New Delhi,8686,2021-11-1,Special
2,Vistara Premium Economy,19:55,5h 00m,1 Stop,Bangalore,New Delhi,12522,2021-11-1,Special
3,Vistara Premium Economy,18:55,5h 15m,1 Stop,Bangalore,New Delhi,12522,2021-11-1,Special
4,Vistara Premium Economy,18:55,6h 00m,1 Stop,Bangalore,New Delhi,12522,2021-11-1,Special
...,...,...,...,...,...,...,...,...,...
208,Vistara Premium Economy,11:30,20h 35m,2 Stop(s),Bangalore,Ahmedabad,26031,2021-11-1,Special
209,Vistara Premium Economy,11:30,22h 50m,2 Stop(s),Bangalore,Ahmedabad,26031,2021-11-1,Special
210,Vistara Premium Economy,11:30,32h 10m,2 Stop(s),Bangalore,Ahmedabad,26031,2021-11-1,Special
211,Vistara Premium Economy,08:30,11h 10m,2 Stop(s),Bangalore,Ahmedabad,27138,2021-11-1,Special
212,Vistara Premium Economy,11:30,8h 10m,2 Stop(s),Bangalore,Ahmedabad,28818,2021-11-1,Special

In [17]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BLR','DEL','3','11','2021','Special')
time.sleep(4)
get_yatra('BLR','BOM','3','11','2021','Special')
time.sleep(4)
get_yatra('BLR','MAA','3','11','2021','Special')
time.sleep(4)
get_yatra('BLR','CCU','3','11','2021','Special')
time.sleep(4)
get_yatra('BLR','HYD','3','11','2021','Special')
time.sleep(4)
get_yatra('BLR','AMD','3','11','2021','Special')
time.sleep(4)
get_yatra('BLR','GOI','3','11','2021','Special')



y3 = pd.DataFrame({})
y3['airlines'] = airlines
y3['departure'] = departure
y3['duration'] = duration
y3['stops'] = stops
y3['from_city'] = 'Bangalore'
y3['to_city'] = to_city
y3['price'] = price
y3['journey_date'] = '2021-11-3'
y3['fclass'] = 'Special'
y3

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,17:45,2h 35m,Non Stop,Bangalore,New Delhi,8686,2021-11-3,Special
1,Vistara Premium Economy,21:10,2h 35m,Non Stop,Bangalore,New Delhi,8686,2021-11-3,Special
2,Vistara Premium Economy,07:00,2h 40m,Non Stop,Bangalore,New Delhi,8686,2021-11-3,Special
3,Vistara Premium Economy,11:30,2h 40m,Non Stop,Bangalore,New Delhi,8686,2021-11-3,Special
4,Vistara Premium Economy,19:40,2h 45m,Non Stop,Bangalore,New Delhi,8686,2021-11-3,Special
...,...,...,...,...,...,...,...,...,...
91,Vistara Premium Economy,18:55,13h 25m,2 Stop(s),Bangalore,Kolkata,18485,2021-11-3,Special
92,Vistara Premium Economy,19:55,13h 30m,2 Stop(s),Bangalore,Kolkata,18485,2021-11-3,Special
93,Vistara Premium Economy,11:30,11h 15m,2 Stop(s),Bangalore,Kolkata,20327,2021-11-3,Special
94,Vistara Premium Economy,11:30,11h 15m,2 Stop(s),Bangalore,Kolkata,20327,2021-11-3,Special
95,Vistara Premium Economy,11:30,20h 50m,2 Stop(s),Bangalore,Kolkata,20327,2021-11-3,Special

In [18]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BLR','DEL','5','11','2021','Special')
time.sleep(4)
get_yatra('BLR','BOM','5','11','2021','Special')
time.sleep(4)
get_yatra('BLR','MAA','5','11','2021','Special')
time.sleep(4)
get_yatra('BLR','CCU','5','11','2021','Special')
time.sleep(4)
get_yatra('BLR','HYD','5','11','2021','Special')
time.sleep(4)
get_yatra('BLR','AMD','5','11','2021','Special')
time.sleep(4)
get_yatra('BLR','GOI','5','11','2021','Special')



y4 = pd.DataFrame({})
y4['airlines'] = airlines
y4['departure'] = departure
y4['duration'] = duration
y4['stops'] = stops
y4['from_city'] = 'Bangalore'
y4['to_city'] = to_city
y4['price'] = price
y4['journey_date'] = '2021-11-5'
y4['fclass'] = 'Special'
y4

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,21:10,2h 35m,Non Stop,Bangalore,New Delhi,8686,2021-11-5,Special
1,Vistara Premium Economy,19:40,2h 45m,Non Stop,Bangalore,New Delhi,8686,2021-11-5,Special
2,Vistara Premium Economy,17:45,2h 35m,Non Stop,Bangalore,New Delhi,9694,2021-11-5,Special
3,Vistara Premium Economy,11:30,2h 40m,Non Stop,Bangalore,New Delhi,9694,2021-11-5,Special
4,Vistara Premium Economy,18:25,4h 35m,1 Stop,Bangalore,New Delhi,12522,2021-11-5,Special
...,...,...,...,...,...,...,...,...,...
65,Vistara Premium Economy,21:10,19h 10m,1 Stop,Bangalore,Chennai,21790,2021-11-5,Special
66,Vistara Premium Economy,19:40,20h 40m,1 Stop,Bangalore,Chennai,21790,2021-11-5,Special
67,Vistara Premium Economy,09:45,24h 15m,1 Stop,Bangalore,Chennai,22238,2021-11-5,Special
68,Vistara Premium Economy,17:45,22h 35m,1 Stop,Bangalore,Chennai,22798,2021-11-5,Special
69,Vistara Premium Economy,11:30,28h 50m,1 Stop,Bangalore,Chennai,22798,2021-11-5,Special

In [22]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BLR','DEL','7','11','2021','Special')
time.sleep(4)
get_yatra('BLR','BOM','7','11','2021','Special')
time.sleep(4)
get_yatra('BLR','MAA','7','11','2021','Special')
time.sleep(4)
get_yatra('BLR','CCU','7','11','2021','Special')
time.sleep(4)
get_yatra('BLR','HYD','7','11','2021','Special')
time.sleep(4)
get_yatra('BLR','AMD','7','11','2021','Special')
time.sleep(4)
get_yatra('BLR','GOI','7','11','2021','Special')



y5 = pd.DataFrame({})
y5['airlines'] = airlines
y5['departure'] = departure
y5['duration'] = duration
y5['stops'] = stops
y5['from_city'] = 'Bangalore'
y5['to_city'] = to_city
y5['price'] = price
y5['journey_date'] = '2021-11-7'
y5['fclass'] = 'Special'
y5

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,06:40,1h 35m,Non Stop,Bangalore,Mumbai,5970,2021-11-7,Special
1,Vistara Premium Economy,08:30,1h 45m,Non Stop,Bangalore,Mumbai,6278,2021-11-7,Special
2,Vistara Premium Economy,18:55,1h 45m,Non Stop,Bangalore,Mumbai,9414,2021-11-7,Special
3,Vistara Premium Economy,21:40,1h 45m,Non Stop,Bangalore,Mumbai,9414,2021-11-7,Special
4,Vistara Premium Economy,18:25,1h 50m,Non Stop,Bangalore,Mumbai,9414,2021-11-7,Special
...,...,...,...,...,...,...,...,...,...
95,Vistara Premium Economy,09:30,22h 20m,1 Stop,Bangalore,Hyderabad,17142,2021-11-7,Special
96,Vistara Premium Economy,21:10,19h 50m,1 Stop,Bangalore,Hyderabad,18934,2021-11-7,Special
97,Vistara Premium Economy,21:10,22h 40m,1 Stop,Bangalore,Hyderabad,18934,2021-11-7,Special
98,Vistara Premium Economy,08:00,11h 50m,1 Stop,Bangalore,Hyderabad,19158,2021-11-7,Special
99,Vistara Premium Economy,21:10,12h 15m,1 Stop,Bangalore,Hyderabad,19158,2021-11-7,Special

In [28]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BLR','DEL','9','11','2021','Special')
time.sleep(4)
get_yatra('BLR','BOM','9','11','2021','Special')
time.sleep(4)
get_yatra('BLR','MAA','9','11','2021','Special')
time.sleep(4)
get_yatra('BLR','CCU','9','11','2021','Special')
time.sleep(4)
get_yatra('BLR','HYD','9','11','2021','Special')
time.sleep(4)
get_yatra('BLR','AMD','9','11','2021','Special')
time.sleep(4)
get_yatra('BLR','GOI','9','11','2021','Special')



y6 = pd.DataFrame({})
y6['airlines'] = airlines
y6['departure'] = departure
y6['duration'] = duration
y6['stops'] = stops
y6['from_city'] = 'Bangalore'
y6['to_city'] = to_city
y6['price'] = price
y6['journey_date'] = '2021-11-9'
y6['fclass'] = 'Special'
y6

Empty DataFrame
Columns: [airlines, departure, duration, stops, from_city, to_city, price, journey_date, fclass]
Index: []

In [29]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BLR','DEL','11','11','2021','Special')
time.sleep(4)
get_yatra('BLR','BOM','11','11','2021','Special')
time.sleep(4)
get_yatra('BLR','MAA','11','11','2021','Special')
time.sleep(4)
get_yatra('BLR','CCU','11','11','2021','Special')
time.sleep(4)
get_yatra('BLR','HYD','11','11','2021','Special')
time.sleep(4)
get_yatra('BLR','AMD','11','11','2021','Special')
time.sleep(4)
get_yatra('BLR','GOI','11','11','2021','Special')



y7 = pd.DataFrame({})
y7['airlines'] = airlines
y7['departure'] = departure
y7['duration'] = duration
y7['stops'] = stops
y7['from_city'] = 'Bangalore'
y7['to_city'] = to_city
y7['price'] = price
y7['journey_date'] = '2021-11-11'
y7['fclass'] = 'Special'
y7

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,17:45,2h 35m,Non Stop,Bangalore,New Delhi,8686,2021-11-11,Special
1,Vistara Premium Economy,21:10,2h 35m,Non Stop,Bangalore,New Delhi,8686,2021-11-11,Special
2,Vistara Premium Economy,07:00,2h 40m,Non Stop,Bangalore,New Delhi,8686,2021-11-11,Special
3,Vistara Premium Economy,08:00,2h 40m,Non Stop,Bangalore,New Delhi,8686,2021-11-11,Special
4,Vistara Premium Economy,11:30,2h 40m,Non Stop,Bangalore,New Delhi,8686,2021-11-11,Special
...,...,...,...,...,...,...,...,...,...
82,Vistara Premium Economy,21:10,16h 40m,1 Stop,Bangalore,Goa,32206,2021-11-11,Special
83,Vistara Premium Economy,19:40,18h 10m,1 Stop,Bangalore,Goa,32206,2021-11-11,Special
84,Vistara Premium Economy,17:45,20h 05m,1 Stop,Bangalore,Goa,32206,2021-11-11,Special
85,Vistara Premium Economy,11:30,26h 20m,1 Stop,Bangalore,Goa,32206,2021-11-11,Special
86,Vistara Premium Economy,09:45,28h 05m,1 Stop,Bangalore,Goa,32206,2021-11-11,Special

In [31]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BLR','DEL','13','11','2021','Special')
time.sleep(4)
get_yatra('BLR','BOM','13','11','2021','Special')
time.sleep(4)
get_yatra('BLR','MAA','13','11','2021','Special')
time.sleep(4)
get_yatra('BLR','CCU','13','11','2021','Special')
time.sleep(4)
get_yatra('BLR','HYD','13','11','2021','Special')
time.sleep(4)
get_yatra('BLR','AMD','13','11','2021','Special')
time.sleep(4)
get_yatra('BLR','GOI','13','11','2021','Special')



y8 = pd.DataFrame({})
y8['airlines'] = airlines
y8['departure'] = departure
y8['duration'] = duration
y8['stops'] = stops
y8['from_city'] = 'Bangalore'
y8['to_city'] = to_city
y8['price'] = price
y8['journey_date'] = '2021-11-13'
y8['fclass'] = 'Special'
y8

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,21:10,2h 35m,Non Stop,Bangalore,New Delhi,8686,2021-11-13,Special
1,Vistara Premium Economy,07:00,2h 40m,Non Stop,Bangalore,New Delhi,8686,2021-11-13,Special
2,Vistara Premium Economy,08:00,2h 40m,Non Stop,Bangalore,New Delhi,8686,2021-11-13,Special
3,Vistara Premium Economy,19:40,2h 45m,Non Stop,Bangalore,New Delhi,8686,2021-11-13,Special
4,Vistara Premium Economy,09:45,2h 55m,Non Stop,Bangalore,New Delhi,8686,2021-11-13,Special
...,...,...,...,...,...,...,...,...,...
95,Vistara Premium Economy,09:45,9h 50m,1 Stop,Bangalore,Kolkata,18934,2021-11-13,Special
96,Vistara Premium Economy,08:00,11h 35m,1 Stop,Bangalore,Kolkata,18934,2021-11-13,Special
97,Vistara Premium Economy,21:10,12h 15m,1 Stop,Bangalore,Kolkata,18934,2021-11-13,Special
98,Vistara Premium Economy,07:00,12h 35m,1 Stop,Bangalore,Kolkata,18934,2021-11-13,Special
99,Vistara Premium Economy,19:40,13h 45m,1 Stop,Bangalore,Kolkata,18934,2021-11-13,Special

In [32]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BLR','DEL','29','10','2021','Business')
time.sleep(4)
get_yatra('BLR','BOM','29','10','2021','Business')
time.sleep(4)
get_yatra('BLR','MAA','29','10','2021','Business')
time.sleep(4)
get_yatra('BLR','CCU','29','10','2021','Business')
time.sleep(4)
get_yatra('BLR','HYD','29','10','2021','Business')
time.sleep(4)
get_yatra('BLR','AMD','29','10','2021','Business')
time.sleep(4)
get_yatra('BLR','GOI','29','10','2021','Business')



z1 = pd.DataFrame({})
z1['airlines'] = airlines
z1['departure'] = departure
z1['duration'] = duration
z1['stops'] = stops
z1['from_city'] = 'Bangalore'
z1['to_city'] = to_city
z1['price'] = price
z1['journey_date'] = '2021-10-29'
z1['fclass'] = 'Business'
z1

Empty DataFrame
Columns: [airlines, departure, duration, stops, from_city, to_city, price, journey_date, fclass]
Index: []

In [33]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BLR','DEL','1','11','2021','Business')
time.sleep(4)
get_yatra('BLR','BOM','1','11','2021','Business')
time.sleep(4)
get_yatra('BLR','MAA','1','11','2021','Business')
time.sleep(4)
get_yatra('BLR','CCU','1','11','2021','Business')
time.sleep(4)
get_yatra('BLR','HYD','1','11','2021','Business')
time.sleep(4)
get_yatra('BLR','AMD','1','11','2021','Business')
time.sleep(4)
get_yatra('BLR','GOI','1','11','2021','Business')



z2 = pd.DataFrame({})
z2['airlines'] = airlines
z2['departure'] = departure
z2['duration'] = duration
z2['stops'] = stops
z2['from_city'] = 'Bangalore'
z2['to_city'] = to_city
z2['price'] = price
z2['journey_date'] = '2021-11-1'
z2['fclass'] = 'Business'
z2

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India Business,13:20,2h 30m,Non Stop,Bangalore,New Delhi,25064,2021-11-1,Business
1,Air India Business,10:25,2h 35m,Non Stop,Bangalore,New Delhi,25064,2021-11-1,Business
2,Air India Business,17:50,2h 45m,Non Stop,Bangalore,New Delhi,25064,2021-11-1,Business
3,Air India Business,07:35,6h 15m,1 Stop,Bangalore,New Delhi,31610,2021-11-1,Business
4,Air India Business,07:35,10h 55m,1 Stop,Bangalore,New Delhi,31610,2021-11-1,Business
...,...,...,...,...,...,...,...,...,...
95,Vistara Business,09:30,10h 25m,1 Stop,Bangalore,Kolkata,56521,2021-11-1,Business
96,Vistara Business,08:30,11h 25m,1 Stop,Bangalore,Kolkata,56521,2021-11-1,Business
97,Vistara Business,21:40,12h 05m,1 Stop,Bangalore,Kolkata,56521,2021-11-1,Business
98,Vistara Business,06:40,13h 15m,1 Stop,Bangalore,Kolkata,56521,2021-11-1,Business
99,Vistara Business,19:55,13h 50m,1 Stop,Bangalore,Kolkata,56521,2021-11-1,Business

In [34]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BLR','DEL','4','11','2021','Business')
time.sleep(4)
get_yatra('BLR','BOM','4','11','2021','Business')
time.sleep(4)
get_yatra('BLR','MAA','4','11','2021','Business')
time.sleep(4)
get_yatra('BLR','CCU','4','11','2021','Business')
time.sleep(4)
get_yatra('BLR','HYD','4','11','2021','Business')
time.sleep(4)
get_yatra('BLR','AMD','4','11','2021','Business')
time.sleep(4)
get_yatra('BLR','GOI','4','11','2021','Business')



z3 = pd.DataFrame({})
z3['airlines'] = airlines
z3['departure'] = departure
z3['duration'] = duration
z3['stops'] = stops
z3['from_city'] = 'Bangalore'
z3['to_city'] = to_city
z3['price'] = price
z3['journey_date'] = '2021-11-4'
z3['fclass'] = 'Business'
z3

Empty DataFrame
Columns: [airlines, departure, duration, stops, from_city, to_city, price, journey_date, fclass]
Index: []

In [35]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BLR','DEL','7','11','2021','Business')
time.sleep(4)
get_yatra('BLR','BOM','7','11','2021','Business')
time.sleep(4)
get_yatra('BLR','MAA','7','11','2021','Business')
time.sleep(4)
get_yatra('BLR','CCU','7','11','2021','Business')
time.sleep(4)
get_yatra('BLR','HYD','7','11','2021','Business')
time.sleep(4)
get_yatra('BLR','AMD','7','11','2021','Business')
time.sleep(4)
get_yatra('BLR','GOI','7','11','2021','Business')



z4 = pd.DataFrame({})
z4['airlines'] = airlines
z4['departure'] = departure
z4['duration'] = duration
z4['stops'] = stops
z4['from_city'] = 'Bangalore'
z4['to_city'] = to_city
z4['price'] = price
z4['journey_date'] = '2021-11-7'
z4['fclass'] = 'Business'
z4

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India Business,13:20,2h 30m,Non Stop,Bangalore,New Delhi,25064,2021-11-7,Business
1,Air India Business,10:25,2h 35m,Non Stop,Bangalore,New Delhi,25064,2021-11-7,Business
2,Air India Business,06:10,2h 45m,Non Stop,Bangalore,New Delhi,25064,2021-11-7,Business
3,Air India Business,17:50,2h 45m,Non Stop,Bangalore,New Delhi,25064,2021-11-7,Business
4,Air India Business,21:00,2h 55m,Non Stop,Bangalore,New Delhi,25064,2021-11-7,Business
...,...,...,...,...,...,...,...,...,...
169,Vistara Business,11:30,26h 20m,1 Stop,Bangalore,Goa,75628,2021-11-7,Business
170,Vistara Business,09:45,28h 05m,1 Stop,Bangalore,Goa,75628,2021-11-7,Business
171,Vistara Business,07:00,6h 50m,1 Stop,Bangalore,Goa,84028,2021-11-7,Business
172,Vistara Business,17:45,27h 35m,1 Stop,Bangalore,Goa,89455,2021-11-7,Business
173,Vistara Business,17:45,20h 05m,1 Stop,Bangalore,Goa,101159,2021-11-7,Business

In [36]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BLR','DEL','10','11','2021','Business')
time.sleep(4)
get_yatra('BLR','BOM','10','11','2021','Business')
time.sleep(4)
get_yatra('BLR','MAA','10','11','2021','Business')
time.sleep(4)
get_yatra('BLR','CCU','10','11','2021','Business')
time.sleep(4)
get_yatra('BLR','HYD','10','11','2021','Business')
time.sleep(4)
get_yatra('BLR','AMD','10','11','2021','Business')
time.sleep(4)
get_yatra('BLR','GOI','10','11','2021','Business')



z5 = pd.DataFrame({})
z5['airlines'] = airlines
z5['departure'] = departure
z5['duration'] = duration
z5['stops'] = stops
z5['from_city'] = 'Bangalore'
z5['to_city'] = to_city
z5['price'] = price
z5['journey_date'] = '2021-11-10'
z5['fclass'] = 'Business'
z5

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India Business,13:20,2h 30m,Non Stop,Bangalore,New Delhi,25064,2021-11-10,Business
1,Air India Business,10:25,2h 35m,Non Stop,Bangalore,New Delhi,25064,2021-11-10,Business
2,Air India Business,06:10,2h 45m,Non Stop,Bangalore,New Delhi,25064,2021-11-10,Business
3,Air India Business,17:50,2h 45m,Non Stop,Bangalore,New Delhi,25064,2021-11-10,Business
4,Vistara Business,07:00,2h 40m,Non Stop,Bangalore,New Delhi,34043,2021-11-10,Business
5,Vistara Business,08:00,2h 40m,Non Stop,Bangalore,New Delhi,34043,2021-11-10,Business
6,Vistara Business,11:30,2h 40m,Non Stop,Bangalore,New Delhi,34043,2021-11-10,Business
7,Vistara Business,19:40,2h 45m,Non Stop,Bangalore,New Delhi,34043,2021-11-10,Business
8,Vistara Business,09:45,2h 55m,Non Stop,Bangalore,New Delhi,34043,2021-11-10,Business
9,Air India Business,22:00,23h 10m,1 Stop,Bangalore,New Delhi,36816,2021-11-10,Business
10,Air India Business,06:45,5h 30m,1 Stop,Bangalore,New Delhi,37698,2021-11-10,Business
11,Air India Business,06:45,12h 35m,2 Stop(s),Bangalore,New Delhi,37698,2021-11-10,Business
12,Air India Business,06:45,13h 45m,1 Stop,Bangalore,New Delhi,37698,2021-11-10,Business
13,Air India Business,19:10,13h 45m,1 Stop,Bangalore,New Delhi,37698,2021-11-10,Business
14,Air India Business,19:10,15h 05m,1 Stop,Bangalore,New Delhi,37698,2021-11-10,Business
15,Air India Business,19:10,16h 00m,2 Stop(s),Bangalore,New Delhi,37698,2021-11-10,Business
16,Air India Business,06:45,16h 45m,1 Stop,Bangalore,New Delhi,37698,2021-11-10,Business
17,Air India Business,19:10,17h 05m,1 Stop,Bangalore,New Delhi,37698,2021-11-10,Business
18,Air India Business,19:10,23h 05m,1 Stop,Bangalore,New Delhi,37698,2021-11-10,Business
19,Air India Business,19:10,24h 10m,2 Stop(s),Bangalore,New Delhi,37698,2021-11-10,Business
20,Air India Business,19:10,26h 05m,1 Stop,Bangalore,New Delhi,37698,2021-11-10,Business
21,Air India Business,06:45,26h 10m,1 Stop,Bangalore,New Delhi,37698,2021-11-10,Business
22,Air India Business,06:45,27h 30m,1 Stop,Bangalore,New Delhi,37698,2021-11-10,Business
23,Air India Business,06:45,28h 25m,2 Stop(s),Bangalore,New Delhi,37698,2021-11-10,Business
24,Vistara Business,21:10,2h 35m,Non Stop,Bangalore,New Delhi,39240,2021-11-10,Business

In [37]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BLR','DEL','13','11','2021','Business')
time.sleep(4)
get_yatra('BLR','BOM','13','11','2021','Business')
time.sleep(4)
get_yatra('BLR','MAA','13','11','2021','Business')
time.sleep(4)
get_yatra('BLR','CCU','13','11','2021','Business')
time.sleep(4)
get_yatra('BLR','HYD','13','11','2021','Business')
time.sleep(4)
get_yatra('BLR','AMD','13','11','2021','Business')
time.sleep(4)
get_yatra('BLR','GOI','13','11','2021','Business')



z6 = pd.DataFrame({})
z6['airlines'] = airlines
z6['departure'] = departure
z6['duration'] = duration
z6['stops'] = stops
z6['from_city'] = 'Bangalore'
z6['to_city'] = to_city
z6['price'] = price
z6['journey_date'] = '2021-11-13'
z6['fclass'] = 'Business'
z6

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India Business,11:50,1h 00m,Non Stop,Bangalore,Chennai,12136,2021-11-13,Business
1,Air India Business,06:45,24h 35m,1 Stop,Bangalore,Chennai,37758,2021-11-13,Business
2,Vistara Business,06:40,5h 10m,1 Stop,Bangalore,Chennai,43865,2021-11-13,Business
3,Vistara Business,08:30,11h 25m,1 Stop,Bangalore,Chennai,43865,2021-11-13,Business
4,Vistara Business,21:40,11h 25m,1 Stop,Bangalore,Chennai,43865,2021-11-13,Business
5,Vistara Business,19:55,13h 10m,1 Stop,Bangalore,Chennai,43865,2021-11-13,Business
6,Vistara Business,06:40,13h 15m,1 Stop,Bangalore,Chennai,43865,2021-11-13,Business
7,Vistara Business,18:55,14h 10m,1 Stop,Bangalore,Chennai,43865,2021-11-13,Business
8,Vistara Business,21:40,14h 10m,1 Stop,Bangalore,Chennai,43865,2021-11-13,Business
9,Vistara Business,08:30,14h 35m,1 Stop,Bangalore,Chennai,43865,2021-11-13,Business
10,Vistara Business,19:55,15h 55m,1 Stop,Bangalore,Chennai,43865,2021-11-13,Business
11,Vistara Business,06:40,16h 25m,1 Stop,Bangalore,Chennai,43865,2021-11-13,Business
12,Vistara Business,18:55,16h 55m,1 Stop,Bangalore,Chennai,43865,2021-11-13,Business
13,Vistara Business,21:40,22h 15m,1 Stop,Bangalore,Chennai,43865,2021-11-13,Business
14,Vistara Business,19:55,24h 00m,1 Stop,Bangalore,Chennai,43865,2021-11-13,Business
15,Vistara Business,08:30,24h 35m,1 Stop,Bangalore,Chennai,43865,2021-11-13,Business
16,Vistara Business,18:55,25h 00m,1 Stop,Bangalore,Chennai,43865,2021-11-13,Business
17,Vistara Business,21:40,25h 25m,1 Stop,Bangalore,Chennai,43865,2021-11-13,Business
18,Vistara Business,06:40,26h 25m,1 Stop,Bangalore,Chennai,43865,2021-11-13,Business
19,Vistara Business,19:55,27h 10m,1 Stop,Bangalore,Chennai,43865,2021-11-13,Business
20,Vistara Business,08:30,27h 20m,1 Stop,Bangalore,Chennai,43865,2021-11-13,Business
21,Air India Business,05:45,11h 20m,1 Stop,Bangalore,Chennai,44682,2021-11-13,Business
22,Air India Business,13:20,10h 15m,1 Stop,Bangalore,Chennai,49746,2021-11-13,Business
23,Air India Business,21:00,11h 55m,1 Stop,Bangalore,Chennai,49746,2021-11-13,Business
24,Vistara Business,18:25,4h 40m,1 Stop,Bangalore,Chennai,52489,2021-11-13,Business

In [38]:
bangalore = pd.concat([x1,x2,x3,x4,x5,x6,x7,x8,x9,y1,y2,y3,y4,y5,y6,y7,y8,z1,z2,z3,z4,z5,z6], axis = 0)
bangalore.shape
bangalore.to_excel('bangalore.xlsx')